@page "/bookings"
@using FlightSystem.Services
@using FlightSystem.Services.Models
@inject BookingService bookingService

<h3>Bookings</h3>
@if (!loading)
{
    <Grid TItem="Flight"
          Class="table table-hover table-bordered table-striped"
          Data="bookings"
          AllowFiltering="true"
          Responsive="true"
          AllowRowClick="true">

        <GridColumns>
            <GridColumn TItem="Flight" HeaderText="Origin">
                @context.Segments?.FirstOrDefault()?.Origin.ToString()
            </GridColumn>
            <GridColumn TItem="Flight" HeaderText="Destination">
                @context.Segments?.LastOrDefault()?.Destination.ToString()
            </GridColumn>
            <GridColumn TItem="Flight" HeaderText="Date">
                @context.Segments?.FirstOrDefault()?.Departure
            </GridColumn>
            <GridColumn TItem="Flight" HeaderText="Price">
                @context.Price.Total @context.Price.Currency
            </GridColumn>
        </GridColumns>

    </Grid>
}
else
{
    <p>Loading...</p>
}

@code {
    private bool loading = true;
    private List<Flight> bookings = new();

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        bookings = await bookingService.GetBookings();
        loading = false;
    }
}
