@page "/bookings"
@using FlightSystem.Services
@using FlightSystem.Services.Models
@using BlazorBootstrap
@inject BookingService bookingService

<h3>Bookings</h3>
@if (!loading)
{
    <Grid TItem="BookedFlightSummary"
          Class="table table-hover table-bordered table-striped"
          Data="bookings"
          Responsive="true"
          AllowSorting="true"
          AllowRowClick="true">

        <GridColumns>
            <GridColumn TItem="BookedFlightSummary" HeaderText="Origin" SortKeySelector="item => item.Origin.ToString()">
                @context.Origin.ToString()
            </GridColumn>
            <GridColumn TItem="BookedFlightSummary" HeaderText="Destination">
                @context.Destination.ToString()
            </GridColumn>
            <GridColumn TItem="BookedFlightSummary" HeaderText="Booked On">
                @context.BookingDate
            </GridColumn>
            <GridColumn TItem="BookedFlightSummary" HeaderText="Price">
                @context.Price.Total @context.Price.Currency
            </GridColumn>
        </GridColumns>

    </Grid>
}
else
{
    <p>Loading...</p>
}

@code {
    private bool loading = true;
    private List<BookedFlightSummary> bookings = new();

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        bookings = await bookingService.GetBookings();
        loading = false;
    }
}
